<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../lib/Accessory.js"></script>
    <script src="../lib/Bird.js"></script>
    <script src="../lib/Inventory.js"></script>
    <title>Bird Game</title>
  </head>
  <body class="background-image">
    <div><span id="timer"><span></div>
    <img id="player1Card" src="../images/playerCard.png" alt="Player 1 Card"/>
    <br>
    <img id="player2Card" src="../images/playerCard.png" alt="Player 2 Card"/>
    <br>
    <img id="player3Card" src="../images/playerCard.png" alt="Player 3 Card"/>
    <div class="player1Text">
      <span id="name1"></span>
      <span id="foodText1">5</span>
      <span id="accessory11">EMPTY<span>
      <span id="accessory21">EMPTY<span>
    </div>
    <div class="player2Text">
      <span id="name2"></span>
      <span id="foodText2">5</span>
      <span id="accessory12">EMPTY<span>
      <span id="accessory22">EMPTY<span>
    </div>
    <div class="player3Text">
      <span id="name3"></span>
      <span id="foodText3">5</span>
      <span id="accessory13">EMPTY<span>
      <span id="accessory23">EMPTY<span>
    </div>
    <div class="inventory">
      <div>Berries : <span id="berry"><span></div>
      <div>Coins : <span id="coin"><span></div>
      <div>Feathers : <span id="feather"><span></div>
      <div>Flowers : <span id="flower"><span></div>
      <div>Twigs : <span id="twig"><span></div>
    </div>
    <div id="bird1-img">
      <img id="bird1" src="../images/leftGroundBird.png" alt="Bird 1"/>
    </div>
    <img id="cloudPlatform" src="../images/cloudPlatform.png" alt="Cloud Platform"/>
    <div><img id="clouds1" src="../images/clouds1.png" alt="Background Clouds"/></div>
    <div><img id="clouds2" src="../images/clouds2.png" alt="Background Clouds"/></div>
    <div><span id="exclamation-point-bird1"><span></div>
    <div><span id="saucepan"><span></div>
    <div><span id="bowtie"><span></div>
    <div><span id="item"><span></div>
    <div><img id="rocket" src="../images/rocket.png" alt="Rocket"/></div>
    <div><img id="raindrop1" src="../images/rainDrop.png" alt="Rain Drop"/></div>
    <div><img id="raindrop2" src="../images/rainDrop.png" alt="Rain Drop"/></div>
    <div><img id="raindrop3" src="../images/rainDrop.png" alt="Rain Drop"/></div>
    <div><img id="raindrop4" src="../images/rainDrop.png" alt="Rain Drop"/></div>
  </body>
</html>

<style>
  .background-image {
    background-image: url("../images/background.png");
	  background-size: cover;
  }
  .player1Text, .player2Text, .player3Text {
    position: absolute;
    margin-left: 25px;
    margin-top: -385px;
    font-family: verdana;
  }
  .inventory {
    margin-left: 100px;
  }
  #player1Card, #player2Card, #player3Card {
    margin-top: 10px;
    margin-left: 10px;
  }
  #name1, #name2, #name3 {
    position: absolute;
    font-size: 24px;
  }
  #name2 {
    margin-top: 135px;
  }
  #name3 {
    margin-top: 270px;
  }
  #foodText1, #foodText2, #foodText3 {
    position: absolute;
    margin-left: 103px;
    font-size: 52px;
  }
  #foodText1 {
    margin-top: 35px;
  }
  #foodText2 {
    margin-top: 170px;
  }
  #foodText3 {
    margin-top: 310px;
  }
  #accessory11, #accessory21, #accessory12, #accessory22, #accessory13, #accessory23 {
    position: absolute;
    font-size: 12px;
    margin-top: 16px;
  }
  #accessory11 {
    margin-top: 48px;
  }
  #accessory12 {
    margin-top: 184px;
  }
  #accessory13 {
    margin-top: 320px;
  }
  #bird1-img {
    position: absolute;
    left: 500px;
    top: 300px;
  }
  #cloudPlatform {
    position: absolute;
    left: 400px;
    top: 360px;
  }
  #clouds1 {
    position: absolute;
    left: -800px;
    top: 50px;
    opacity: 0.4;
  }
  #clouds2 {
    position: absolute;
    left: -800px;
    top: 50px;
    opacity: 0.4;
  }
  #exclamation-point-bird1 {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  #saucepan {
    position: absolute;
    left: 700px;
    top: 335px;
  }
  #bowtie {
    position: absolute;
    left: 880px;
    top: 355px;
  }
  #item {
    position: absolute;
    left: 0px;
    top: -50px;
  }
  #timer {
    position: absolute;
    margin-top: 10px;
    margin-left: 200px;
    font-family: verdana;
    font-size: 28px;
    font-weight: 700;
  }
  #rocket {
    position: absolute;
    left: 1300px;
    top: 330px;
  }
  #raindrop1 {
    position: absolute;
    left: 0px;
    top: -20px;
  }
  #raindrop2 {
    position: absolute;
    left: 0px;
    top: -20px;
  }
  #raindrop3 {
    position: absolute;
    left: 0px;
    top: -20px;
  }
  #raindrop4 {
    position: absolute;
    left: 0px;
    top: -20px;
  }
</style>

<script>
  $(document).ready(function() {
    var bird1 = new Bird();
    var inventory = new Inventory();
    var saucepan = true;
    var bowtie = true;
    var jumping = false;
    var right = false;
    var count = 60, timer = setInterval(function() {
        $("#timer").html(count--);
        if(count == 0) {
          clearInterval(timer);
          endGame();
        }
    }, 1000);
    updateNicknames();
    updateInventory();
    spawnClouds1();
    displayAccessoriesOnGround();
    startTimer();

    window.setInterval(platformCollision, 300);
    window.setInterval(raindropCollision, 300, 'raindrop1');
    window.setInterval(raindropCollision, 300, 'raindrop2');
    window.setInterval(raindropCollision, 300, 'raindrop3');
    window.setInterval(raindropCollision, 300, 'raindrop4');
    window.setInterval(rocketCollision, 300);
    window.setInterval(spawnItem, 10000);
    window.setInterval(spawnClouds1, 42000);

    function updateNicknames() {
      $('#name1').text(sessionStorage.getItem('name1'));
      $('#name2').text(sessionStorage.getItem('name2'));
      $('#name3').text(sessionStorage.getItem('name3'));
    }

    function jump() {
      if (!jumping) {
        jumping = true;
        bird1.jump();
        setTimeout(land, 900);
        direction()
      }
    }

    function land() {
      jumping = false;
      bird1.fall()
      { document.getElementById('bird1-img').style.top = bird1.y + 'px'};
      direction()
    }

    function select(array) {
      return '<img src="../images/' + array[Math.floor ( Math.random() * array.length )] + '.png" />'
    }

    function startTimer() {
      setTimeout($('#timer').text("Better start collecting..."), 100)
      setTimeout(spawnRocket, 10000)
      setTimeout(spawnRocket, 20000)
      setTimeout(spawnRocket, 30000)
      i = 0
      spawnTime = 9500
      while (i < 10) {
        setTimeout(spawnRaindrops, spawnTime)
        spawnTime += 3000
        i++;
      }
    }

    function spawnItem() {
      { document.getElementById('item').style.left = (Math.floor(Math.random() * (950 - 360 + 1) + 360)) + 'px'}
      $('#item').text('');
      $('#item').prepend(select(['berry', 'twig', 'flower', 'feather', 'coin']));
      $('#item').animate({top: '+=375'}, 2000);
      setTimeout(despawnItem, 5000);
    }

    function despawnItem() {
      { document.getElementById('item').style.top = -50 + 'px'}
    }

    function spawnClouds1() {
      $('#clouds1').animate({left: '+=2200'}, 40000);
      setTimeout(spawnClouds2, 20000);
      setTimeout(despawnClouds1, 41000);
    }

    function despawnClouds1() {
      if (document.getElementById('clouds1').style.left === '1400px') {
        { document.getElementById('clouds1').style.left = -800 + 'px'}
      }
    }

    function spawnClouds2() {
      $('#clouds2').animate({left: '+=2200'}, 40000);
      setTimeout(despawnClouds2, 41000);
    }

    function despawnClouds2() {
      if (document.getElementById('clouds2').style.left === '1400px') {
        { document.getElementById('clouds2').style.left = -800 + 'px'}
      }
    }

    function spawnRocket() {
      $('#rocket').animate({left: '-=1500'}, 6000);
      setTimeout(despawnRocket, 7000);
    }

    function despawnRocket() {
      if (document.getElementById('rocket').style.left === '-200px') {
        { document.getElementById('rocket').style.left = 1300 + 'px'}
      }
    }

    function spawnRaindrops() {
      { document.getElementById('raindrop1').style.left = (Math.floor(Math.random() * (950 - 360 + 1) + 360)) + 'px'}
      $('#raindrop1').animate({top: '+=370'}, 2000);
      { document.getElementById('raindrop2').style.left = (Math.floor(Math.random() * (950 - 360 + 1) + 360)) + 'px'}
      $('#raindrop2').animate({top: '+=370'}, 1800);
      { document.getElementById('raindrop3').style.left = (Math.floor(Math.random() * (950 - 360 + 1) + 360)) + 'px'}
      $('#raindrop3').animate({top: '+=370'}, 1600);
      { document.getElementById('raindrop4').style.left = (Math.floor(Math.random() * (950 - 360 + 1) + 360)) + 'px'}
      $('#raindrop4').animate({top: '+=370'}, 1400);
      setTimeout(despawnRaindrops, 2200);
    }

    function despawnRaindrops() {
      if (document.getElementById('raindrop1').style.top === '350px') {
        { document.getElementById('raindrop1').style.top = -20 + 'px'}
      }
      if (document.getElementById('raindrop2').style.top === '350px') {
        { document.getElementById('raindrop2').style.top = -20 + 'px'}
      }
      if (document.getElementById('raindrop3').style.top === '350px') {
        { document.getElementById('raindrop3').style.top = -20 + 'px'}
      }
      if (document.getElementById('raindrop4').style.top === '350px') {
        { document.getElementById('raindrop4').style.top = -20 + 'px'}
      }
    }

    function displayExclamationPoint() {
      if (bird1.coolDown) {
        setTimeout(startCoolDownTimer, 2000);
      }
    }

    function updateInventory() {
      $('#berry').text(inventory.show('berry'))
      $('#coin').text(inventory.show('coin'))
      $('#feather').text(inventory.show('feather'))
      $('#flower').text(inventory.show('flower'))
      $('#twig').text(inventory.show('twig'))
    }

    function updateExclamationPoint() {
      $('#exclamation-point-bird1').text('');
      $('#exclamation-point-bird1').prepend('<img src="../images/exclamation.png" />');
      { document.getElementById('exclamation-point-bird1').style.left = (bird1.x + 30) + 'px'}
      { document.getElementById('exclamation-point-bird1').style.top = (bird1.y - 70) + 'px'}
    }

    function startCoolDownTimer() {
      bird1.coolDownOff();
    }

    function displayPlayerAccessories() {
      if (bird1.accessories.length > 0) {
        $('#accessory11').text(bird1.accessories[0].name.toUpperCase())
      }
      if (bird1.accessories.length > 1) {
        $('#accessory21').text(bird1.accessories[1].name.toUpperCase())
      }
    }

    function updateWornAccessories() {
      if (bird1.accessories.length > 0) {
        bird1.accessories.forEach(function(accessory) {
          if (accessory.name === 'saucepan') {
            $('#saucepan').text('')
            if (right) {
              $('#saucepan').prepend('<img src="../images/saucepanRight.png" />')
              if (jumping) {
                { document.getElementById('saucepan').style.left = (bird1.x - 12) + 'px'}
              } else {
                { document.getElementById('saucepan').style.left = (bird1.x - 20) + 'px'}
              }
            } else {
              $('#saucepan').prepend('<img src="../images/saucepanLeft.png" />')
              { document.getElementById('saucepan').style.left = (bird1.x + 10) + 'px'}
            }
            { document.getElementById('saucepan').style.top = (bird1.y - 12) + 'px'}
          }
          if(accessory.name === 'bowtie') {
            $('#bowtie').text('')
            if (right) {
              $('#bowtie').prepend('<img src="../images/bowtieRight.png" />')
              { document.getElementById('bowtie').style.left = (bird1.x + 42) + 'px'}
            } else {
              $('#bowtie').prepend('<img src="../images/bowtieLeft.png" />')
              { document.getElementById('bowtie').style.left = (bird1.x + 10) + 'px'}
            }
            { document.getElementById('bowtie').style.top = (bird1.y + 48) + 'px'}
          }
        })
      }
    }

    function displayAccessoriesOnGround() {
      if (saucepan) {
        $('#saucepan').text('')
        $('#saucepan').prepend('<img src="../images/saucepanLeft.png" />')
      }
      if (bowtie) {
        $('#bowtie').text('')
        $('#bowtie').prepend('<img src="../images/bowtieLeft.png" />')
      }
    }

    function accessoryCollision() {
      if (bird1.x > 640 && bird1.x < 765 && saucepan) {
        bird1.addAccessory(new Accessory('saucepan', "saucepanLeft.png", "saucepanRight.png"));
        $('#saucepan').text('')
        saucepan = false
      }
      if (bird1.x > 820 && bird1.x < 900 && bowtie) {
        bird1.addAccessory(new Accessory('bowtie', "bowtieLeft.png", "bowtieRight.png"));
        $('#bowtie').text('')
        bowtie = false
      }
      displayPlayerAccessories();
      displayAccessoriesOnGround();
      updateWornAccessories();
    }

    function platformCollision() {
      if (bird1.x > 350 && bird1.x < 950) {
        // bird.y >= 300
      } else if (!jumping) {
        if (bird1.y < 800) {
          bird1.fall();
          { document.getElementById('bird1-img').style.top = bird1.y + 'px'}
          updateWornAccessories()
        } else {
          bird1.respawn();
          bird1.decreaseFoodCount();
          { document.getElementById('bird1-img').style.top = bird1.y + 'px'}
          { document.getElementById('bird1-img').style.left = bird1.x + 'px'}
          updateWornAccessories();
          $('#foodText1').text(bird1.foodCount)
        }
      }
    }

    function raindropCollision(raindrop) {
      var raindropCollisionY = bird1.y <= Number((document.getElementById(raindrop).style.top.slice(0, -2))) + Number(55)
      var raindropCollisionX = (bird1.x < Number((document.getElementById(raindrop).style.left.slice(0, -2))) + Number(15)) && (bird1.x > Number((document.getElementById(raindrop).style.left.slice(0, -2))) - Number(80))
      if (raindropCollisionX && raindropCollisionY) {
        if (!bird1.coolDown) {
          bird1.decreaseFoodCount();
          bird1.coolDownOn();
          $('#foodText1').text(bird1.foodCount);
          displayExclamationPoint();
          updateExclamationPoint();
        }
      }
    }

    function rocketCollision() {
      var rocketCollisionY = bird1.y === 300
      var rocketCollisionX = (bird1.x < Number((document.getElementById('rocket').style.left.slice(0, -2))) + Number(35)) && (bird1.x > Number((document.getElementById('rocket').style.left.slice(0, -2))) - Number(100))
      if (rocketCollisionX && rocketCollisionY) {
        if (!bird1.coolDown) {
          bird1.decreaseFoodCount();
          bird1.coolDownOn();
          $('#foodText1').text(bird1.foodCount);
          displayExclamationPoint();
          updateExclamationPoint();
        }
      }
    }

    function itemCollision() {
      var itemCollisionY = bird1.y <= Number((document.getElementById('item').style.top.slice(0, -2))) + Number(65)
      var itemCollisionX = (bird1.x < Number((document.getElementById('item').style.left.slice(0, -2))) + Number(25)) && (bird1.x > Number((document.getElementById('item').style.left.slice(0, -2))) - Number(90))
      if (itemCollisionX && itemCollisionY) {
        addItem($('#item > img').attr('src').split('/')[2].split('.')[0]);
        { document.getElementById('item').style.top = -50 + 'px'}
        updateInventory();
      }
    }

    function addItem(item) {
      inventory.increaseItem(item);
      $('#foodText1').text(bird1.foodCount);
    }

    function direction() {
      if (bird1.coolDown) {
        updateExclamationPoint();
      } else {
        $('#exclamation-point-bird1').text('');
      }
      if (right && jumping) {
        $('#bird1').attr("src", "../images/rightJumpBird.png");
      } else if (right) {
        $('#bird1').attr("src", "../images/rightGroundBird.png");
      } else if (!right && jumping) {
        $('#bird1').attr("src", "../images/leftJumpBird.png");
      } else if (!right) {
        $('#bird1').attr("src", "../images/leftGroundBird.png");
      }
      updateWornAccessories();
    }

    function endGame() {
      saveItems();
      window.location.href='game.html'
    }

    function saveItems() {
      sessionStorage.setItem('item', inventory);
    }

    $(document).keypress(function(event){
      var key = (event.keyCode ? event.keyCode : event.which);
      var ch=String.fromCharCode(key)
      switch (ch.toLowerCase()) {
        case 'e':
          accessoryCollision();
          itemCollision();
          break;
        case 'a':
          bird1.moveLeft();
          { document.getElementById('bird1-img').style.left = bird1.x + 'px'}
          right = false;
          direction();
          break;
        case 'd':
           bird1.moveRight();
           { document.getElementById('bird1-img').style.left = bird1.x + 'px'}
           right = true;
           direction();
          break;
        case 'w':
          if (!jumping) {
            $('#bird1').attr("src", "../images/rightJumpBird.png");
            jump();
            { document.getElementById('bird1-img').style.top = bird1.y + 'px'}
          }
          break;
        case ' ':
          if (!jumping) {
            $('#bird1').attr("src", "../images/rightJumpBird.png");
            jump();
            { document.getElementById('bird1-img').style.top = bird1.y + 'px'}
          }
      }
    });
  });
</script>
