<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <title>Bird Game</title>
  </head>
  <body>
    <div class="inventory">
      <span id="foodCount">0</span>
      <img id="foodImage" src="../images/food.png" alt="Food"/>
      <span id="flowerCount">0</span>
      <img id="flowerImage" src="../images/flower.png" alt="Flower"/>
      <span id="featherCount">0</span>
      <img id="featherImage" src="../images/feather.png" alt="Feather"/>
      <span id="twigCount">0</span>
      <img id="twigImage" src="../images/twig.png" alt="Twig"/>
      <span id="coinCount">0</span>
      <img id="coinImage" src="../images/coin.png" alt="Coin"/>
    </div>
  </body>
</html>

<script>
</script>
