<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../lib/Inventory.js"></script>
    <script src="../lib/Scenario.js"></script>
    <title>Outcome</title>
  </head>
  <body class="background-image">
    <strong>Outcome:</strong>
    <br>
    <span id="outcomeText"></span>
    <div class="inventory-card">
      <strong>Inventory:</strong>
      <br>
      <span id="inventoryText"></span>
    </div>
    <button id="next">Okay</button>
  </body>
</html>

<style>
  .background-image {
    background-image: url("../images/background.png");
    background-size: cover;
  }
  .inventory-card {
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    background: #FFF;
  }
</style>

<script>
  $(document).ready(function() {
    var choice = JSON.parse(sessionStorage.getItem('choice'));
    var inventory = JSON.parse(sessionStorage.getItem('items'));
    updateChoice();
    updateInventory();
    console.log(sessionStorage.getItem('day'));

    document.getElementById("next").onclick = function() {saveItems()}

    function updateChoice() {
      $('#outcomeText').text(choice[1]);
    };

    function updateInventory() {
      const choiceAction = choice[0].split(',')
      choiceAction.forEach(function(action) {
        if ( action.charAt(0) === '-' ) {
          inventory[action.slice(1)] = inventory[action.slice(1)] - 1;
        } else {
          inventory[action.slice(1)] = inventory[action.slice(1)] + 1;
        };
      });
      $('#inventoryText').text(`${choiceAction}`);
    };

    function saveItems() {
      sessionStorage.setItem('items', JSON.stringify(inventory));
      sessionStorage.setItem('day', (parseInt(sessionStorage.getItem('day')) + 1));
      checkIfGameOver();
    };

    function checkIfGameOver() {
      if ( inventory.berry < 0 ) {
        window.location.href='end.html'
      } else if ( inventory.coin < 0 ){
      window.location.href='end.html'
      } else if ( inventory.feather < 0 ){
        window.location.href='end.html'
      } else if ( inventory.flower < 0 ){
        window.location.href='end.html'
      } else if ( inventory.twig < 0 ){
      window.location.href='end.html'
      } else {
      window.location.href='game.html'
      };
    };
  });
</script>
