<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../lib/Inventory.js"></script>
    <script src="../lib/Scenario.js"></script>
    <title>Outcome</title>
  </head>
  <body class="background-image">
    <strong>Outcome:</strong>
    <br>
    <span id="outcomeText"></span>
    <div class="inventoryCard">
      <strong>Inventory:</strong>
      <br>
      <span id="inventoryText"></span>
    </div>
  </body>
</html>

<style>
  .background-image {
    background-image: url("../images/background.png");
    background-size: cover;
  }
  .inventoryCard {
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    background: #FFF;
  }
</style>

<script>
  $(document).ready(function() {
    var choice = JSON.parse(sessionStorage.getItem('choice'));
    var inventory = JSON.parse(sessionStorage.getItem('items'));
    updateChoice();
    updateInventory();

    function updateChoice() {
      $('#outcomeText').text(choice[1]);
    };

    function updateInventory() {
      const choiceAction = choice[0].split(',')
      choiceAction.forEach(function(action) {
        if ( action.charAt(0) === '-' ) {
          inventory[action.slice(1)] = inventory[action.slice(1)] - 1;
        } else {
          inventory[action.slice(1)] = inventory[action.slice(1)] + 1;
        };
      });
      $('#inventoryText').text(`${choiceAction}`);
    };

    function saveInventory() {
      sessionStorage.setItem('items', JSON.stringify(inventory));
    };
  });
</script>
